---
# Control label.
label: null
# Submitted value. Defaults to `on`.
value: null
# Input type: checkbox, radio.
type: checkbox
# Submitted name. Defaults to the label slug. For radio, the shared name for the group.
name: null
# Control style: default, toggle, chip.
variant: default
# Start selected.
checked: false
# Require a selection.
required: false
class: null
---
{{ if view:label }}
<label class="form-choice{{ if view:variant != 'default' }} {{ view:variant }}{{ /if }}{{ if view:class }} {{ view:class }}{{ /if }}">
    <input class="form-choice_input" type="{{ view:type }}" name="{{ view:name ?? (view:label | slugify) }}"{{ if view:value }} value="{{ view:value }}"{{ /if }}{{ if view:checked | to_bool }} checked{{ /if }}{{ if view:required | to_bool }} required{{ /if }}>
    <span class="form-choice_mark" aria-hidden="true">
        {{ if view:type == 'radio' }}<span class="form-choice_dot"></span>{{ else }}{{ partial:components/icon name="check" variant="small" class="form-choice_tick" }}{{ /if }}
    </span>
    <span class="form-choice_text text-style-main">{{ view:label }}</span>
</label>
{{ /if }}
