---
# Grid mode: columns, autofit, autofill.
variant: columns
# Columns below 30rem. Defaults to `1`. columns only.
xsmall: 1
# Columns from 30rem. Inherits `xsmall`. columns only.
small: null
# Columns from 48rem. Inherits `small`. columns only.
medium: null
# Columns from 64rem. Inherits `medium`. columns only.
large: null
# Maximum columns. Defaults to `12`. autofit, autofill only.
max_column_count: null
# Minimum column width in rem. Defaults to `12`. autofit, autofill only.
min_column_width: null
class: null
---
{{ if slot | trim }}
{{ if view:variant == 'columns' }}
{{ _style = (view:xsmall != 1 ? '--_cols-xs: {view:xsmall}; ' : '') + (view:small ? '--_cols-sm: {view:small}; ' : '') + (view:medium ? '--_cols-md: {view:medium}; ' : '') + (view:large ? '--_cols-lg: {view:large};' : '') }}
{{ else }}
{{ _style = (view:max_column_count ? '--_max-cols: {view:max_column_count}; ' : '') + (view:min_column_width > 0 ? '--_min-col-width: {view:min_column_width};' : '') }}
{{ /if }}
<div class="grid{{ if view:variant != 'columns' }} {{ view:variant }}{{ /if }}{{ if view:class }} {{ view:class }}{{ /if }}"{{ if _style | trim }} style="{{ _style | trim }}"{{ /if }}>
    {{ slot | trim }}
</div>
{{ /if }}
