.section-head_wrap {
  width: 100%;
  display: grid;
  gap: var(--space-6) var(--space-8);
  align-items: end;
  & > * {
    margin: 0;
  }
  @media (width >= 64rem) {
    grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
  }
}

.section-head_text {
  color: var(--text-2);
}
