.content-head_wrap {
  display: grid;
  gap: var(--space-4) var(--space-6);
  width: 100%;
  padding-top: var(--space-4);
  border-top: var(--border-width) solid var(--text);

  &.spread {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
  }

  @media (width >= 64rem) {
    &:not(.spread) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
