.labeled_wrap {
  display: grid;
  gap: var(--space-4) var(--space-8);
  width: 100%;
  @media (width >= 64rem) {
    grid-template-columns: minmax(0, 3fr) minmax(0, 9fr);
  }
}

.labeled_label {
  align-self: start;
}

.labeled_content {
  min-width: 0;
}
