.footer_wrap {
  display: flex;
  justify-content: center;
  padding-block: var(--section-space-small) var(--space-6);
  padding-inline: var(--site-margin);
  background-color: var(--background);
  color: var(--text);
  border-top: var(--border-width) solid var(--border);
}

.footer_inner {
  width: 100%;
  max-width: var(--max-width-main);
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.footer_top {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-6);
  @media (width >= 64rem) {
    grid-template-columns: minmax(0, 6fr) repeat(3, minmax(0, 2fr));
  }
}

.footer_claim {
  grid-column: 1 / -1;
  max-width: 14ch;
  @media (width >= 64rem) {
    grid-column: auto;
  }
}

.footer_heading {
  margin-bottom: var(--space-2);
  color: var(--text-2);
  font-weight: var(--primary-regular);
}

.footer_links {
  display: grid;
  gap: var(--space-1);
  font-size: var(--text-small);
}

.footer_link {
  justify-self: start;
}

.footer_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-3);
  font-size: var(--text-small);
  color: var(--text-2);
}

.footer_totop {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1);
  & .icon {
    transition: translate var(--hover-duration) var(--hover-ease);
  }
  @media (hover: hover) {
    &:hover .icon {
      translate: 0 -0.2rem;
    }
  }
}
