.icon {
  --_size: 1.5em;
  flex: none;
  display: block;
  width: var(--_size);
  height: auto;
  aspect-ratio: 1 / 1;
  max-width: 100%;

  &.small {
    --_size: 1em;
  }

  &.large {
    --_size: 2em;
  }

  &.full-width {
    width: 100%;
    aspect-ratio: unset;
  }
}
