.form-textarea_field {
  field-sizing: content;
  min-height: calc(
    var(--_min-lines, 3) * 1lh + var(--_field-pad-block) * 2 +
      var(--border-width) * 2
  );
  max-height: calc(
    var(--_max-lines, 12) * 1lh + var(--_field-pad-block) * 2 +
      var(--border-width) * 2
  );
  resize: vertical;
}
